<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPublicEDKey</key>
	<string>FUd8H2rcgDzvvMBXCBbLl8pBUHFiI3Un0UJRAMvnEvo=</string>
	<key>LSUIElement</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/backtosq1/Swiftly/main/appcast.xml</string>
</dict>
</plist>
